{% extends "admin_base.html" %}
{% load static %}
{% block content %}
    <link href="{% static 'css/booking.css' %}" rel="stylesheet">
    <div class="container-fluid mt-4">
        
        <!-- Orders Table -->
        <div class="table-container mt-5">
            <h3>Orders</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Order Area</th>
                        <th>Order Number</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Email</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.Order_Area }}</td>
                        <td>{{ order.Order_number }}</td>
                        <td>{{ order.Start_Time }}</td>
                        <td>{{ order.End_Time }}</td>
                        <td>{{ order.Email }}</td>
                        <td>{{ order.Payment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
{% endblock %}
