{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Order System</title>
    <link href="{% static 'bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 100px;">
        <div class="container-fluid justify-content-between">
            <img src="../static/asset/logo.png" alt="Logo" style="height: 100px;" class="ms-3">
            <a class="navbar-brand text-center" href="#">Sport Order System</a>
            <div class="d-flex">
                <span class="navbar-text me-3">Welcome, <strong>User</strong></span>
                <a href="{% url 'logout' %}" class="btn btn-light btn-sm">Logout</a>
            </div>
        </div>
    </nav>

    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar bg-dark text-white p-3 vh-100">
            <ul class="nav flex-column menu-box">
                <li class="nav-item"><a href="/Home/" class="nav-link text-white menu-item">Home</a></li>
                <li class="nav-item"><a href="/profile/" class="nav-link text-white menu-item">Profile</a></li>
                <li class="nav-item"><a href="/orders/" class="nav-link text-white menu-item">Orders</a></li>
                <li class="nav-item"><a href="/booking/" class="nav-link text-white menu-item">Booking</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        
                {% block content %}
                    
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static '/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
