{% extends "base.html" %}
        
                {% block content %}
                    <link rel="stylesheet" href="../static/css/order.css">
    <div class="container-fluid mt-4">
        
        <div class="table-container mt-5">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start_Time</th>
                        <th>End_Time</th>
                        <th>Order</th>
                        <th>Payment</th>
                         <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   {% for area in areas %}

        <tr>
            <td class="fw-bold">{{ area.Name }}</td>
            <td>{{ area.Start_Time }}</td>
            <td>{{ area.End_Time }}</td>
            <td>{{ area.Order }}</td>
            <td>{{ area.Payment }}</td>
            <td>
    <form method="POST" action="{% url 'booking_now' %}">
        {% csrf_token %}
                <input type="hidden" name="area_name" value="{{ area.Name }}">
                <input type="hidden" name="start_time" value="{{ area.Start_Time }}">
                <input type="hidden" name="end_time" value="{{ area.End_Time }}">
                <input type="hidden" name="order" value="{{ area.Order }}">
                <input type="hidden" name="payment" value="{{ area.Payment }}">
                

                <button class="btn btn-sm btn-secondary" type="submit">Book</button>    
    </form>
            </td>
        </tr>

{% endfor %}
                </tbody>
            </table>
        </div>

             
    </div>
                {% endblock %}
          
